node_modules
vendor
.git
.github
tests
storage/logs/*.log
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/app/private/**
storage/app/public/**
.env
.env.*
!/.env.production.example
whatsapp-service/node_modules
public/hot
public/storage
graphify-out
docs
*.md
!postcss.config.js
!vite.config.js
!tailwind.config.js
